<!DOCTYPE html>
<html>
<head>
	<title>New Beginnings Marketplace</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
    <div class="page-header">
        <center><h1>New Beginnings Marketplace</h1></center>
    </div>
    
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home</a></li>
        <li role="presentation"><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Register/Log In</a></li>
        <li role="presentation"><a href="#"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;Post an item</a></li>
    </ul>
    <br/><br/>
<div class="container">
{% if latest_item_list %}
    {% for item in latest_item_list %}
      <div class="col-md-2">
        <div class="thumbnail">
          <img src="{{ item.photo.url }}" class="img-thumbnail" />
          <div class="caption">
            <h3>{{ item.name }}</h3>
              <h6><a href="/home/{{ item.userName.id }}/">{{ item.userName }}</a></h6>
            <p>{{ item.condition }}<br/>
              <b>Type: {{ item.itemType }}</b></p>
  
              <h6>
              {% for tags in latest_tag_list %}
                    #{{ tags.tag }}&nbsp;
              {% endfor %}
              </h6>
              
          </div>
        </div>
        </div>
    {% endfor %}
{% else %}
    <p>No item available</p>
{% endif %}
        
    </div>

    <center>
        <button type="button" class="btn btn-primary">Load more</button>
    </center>
    
</body>
</html>
